html {
  padding: none;
}

.comment {
  border: 1px solid gray;
}

.comment-header,
.comment-body,
.comment-reactions {
  padding: 10px;
}
.comment-header {
  background-color: rgb(228, 228, 228);
}

.comment-body {
  overflow-wrap: break-word;
}

#conversation-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 5px;
  font-family: sans-serif;
  margin-top: 10vh;
  position: absolute;
  z-index: 2;
  height: 70vh;
  min-width: 300px;
  max-width: 70vw;
  /* padding: 10px; */
  /* overflow-y: scroll; */
}

#comments-container {
  flex-grow: 3;
  overflow-y: scroll;
  padding: 30px;
}

#client-app {
  width: 100%;
  height: 100vh;
  position: fixed;
  border: none;
}

.modalContainer {
  position: absolute;
  background-color: rgb(255, 226, 179);
  width: 70vw;
  height: 60vh;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#recording-modal #send-recording {
  padding: 20px;
}
#player {
  display: flex;
}

#editor-wrapper {
  flex: 1;
  /* height: 20px; */
}

.modalOverlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

#recordingModalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#recordingModalButtons {
  display: flex;
}

#recordingInterface {
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px 0 0 10px;
}

#recordingInterface > div {
  display: flex;
  align-items: center;
}

#recordingInterface > button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 15px;
  padding: 0;
}

#dot {
  width: 20px;
  height: 20px;
  background-color: rgb(211, 0, 0);
  border-radius: 50%;
  margin-left: 10px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.name-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#name-modal-content {
  background-color: rgb(255, 226, 179);
  padding: 30px;
  width: 50%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name-modal-content h1 {
  font-size: 28px;
  color: #333;
}

#name-modal-content h2 {
  font-size: 18px;
  margin-top: 0;
  color: #333;
}

#name-modal-content input {
  width: 80%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#name-modal-content button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#name-modal-content button:hover {
  background-color: #0056b3;
}

.name-modal-error-message {
  color: red;
  padding-bottom: 10px;
}

.name-banner {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 10px 0 0 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.name-banner-collapse-toggle-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0 10px 0 0;
  font-size: 20px;
}

.name-banner-hidden {
  display: none;
}

.name-banner-collapsed {
  padding: 10px;
}

.name-banner-edit-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding-left: 10px;
}

.name-banner-edit-button:hover,
.name-banner-collapse-toggle-button:hover {
  color: #cccccc;
}

#miscOverlay {
  position: absolute;
  top: 0;
  right: 0;
}
