iframe {
  width: 100%;
  height: 100vh;
  position: fixed;
  border: none;
}

html {
  padding: none;
}

#conversation-container {
  background-color: rgb(255, 246, 224);
  border: 0.2rem solid rgb(48, 66, 101);
  border-radius: 10px;
  font-family: sans-serif;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  z-index: 2;
  height: 50vh;
  width: 70vh;
  padding: 20px;
  overflow-y: auto;
}

.commentList {
  overflow-y: auto;
}

.editorWrapper {
  position: relative;
}

.modalContainer {
	position: absolute;
	background-color: rgb(255, 226, 179);
	width: 60vw;
	height: 60vh;
	z-index: 3;

	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.modalOverlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0);
	z-index: 0;
}
