:root {
  --campfire-blue: #363f54;
  --campfire-dark-blue: #272f3f;
  --campfire-red: #e2554f;
  --campfire-dark-red: #e3413a;
  --campfire-off-white: #f2f1ea;
  --campfire-gradient: linear-gradient(
    159deg,
    rgba(39, 47, 63, 1) 0%,
    rgba(47, 56, 75, 1) 21%,
    rgba(226, 85, 79, 1) 63%,
    rgba(237, 107, 44, 1) 85%,
    rgba(237, 152, 55, 1) 100%
  );
}

html {
  padding: none;
}

/* AD BLOCKER MESSAGE */
#AdBlockerMessage, #errorMessage {
  position: "absolute";
  top: 0;
  left: 0;
  right: 0;
  background-color: #F36464;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  line-height: 1.25em;
}

/* COMMENTS */

/* Wraps Comments and Editor */
#Conversation {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(181, 181, 181);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: sans-serif;
  margin-top: 10vh;
  position: absolute;
  z-index: 3;
  height: 70vh;
  width: 70vw;
  min-height: 373.767px;
  max-width: 70vw;
  min-width: 70vw;
  min-width: 620px;
  max-width: 620px;
}

/* conversation media query for mobile */
@media (max-width: 767px) {
  #Conversation {
    width: 100vw;
    min-width: initial;
    max-width: initial;
    top: 12vh;
    left: 0;
    right: 0;
    margin-top: 5px;
    height: 80vh;
  }
}

.closeIcon {
  z-index: 1;
  position: absolute;
  top: -2px;
  right: -27px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: var(--campfire-red);
  background: var(--campfire-gradient);
  padding: 7px;
  padding-left: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* closeIcon media query for mobile devices */
@media (max-width: 767px) {
  .closeIcon {
    /* position: relative; */
    right: -1.5px;
    top: -30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/* Material UI styles are in the Comments component */
#Comments {
  flex-grow: 3;
  overflow-y: scroll;
  padding: 30px;
  z-index: 2;
}

/* Material UI styles are in the Comment component */
.Comment {
  border: 1px solid gray;
}

.CommentHeader,
.CommentBody {
  padding: 10px;
}

.CommentBody {
  overflow-wrap: break-word;

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  td,
  table {
    border: 1px solid gray;
  }

  td,
  th {
    padding: 5px;
  }

  th {
    background-color: rgb(243, 243, 243);
  }

  table {
    margin-top: 15px;
    border-collapse: collapse;
  }

  tr {
    padding: 10px;
  }
}

.CommentHeader {
  background-color: rgb(228, 228, 228);
}

/* MODAL OVERLAY used by:
- ConversationModal */

.modalOverlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(36, 46, 92, 0.2);
  z-index: 1;
}

/* DOT */
#dot {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  margin-left: 10px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

/* FEEDBACK INTERFACE */
#NameRecordingWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

/* MOBILE BANNDER */
#MobileBanner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

/* NAME BANNER */
.NameBanner {
  /* background-color: #007bff; */
  background-color: rgb(39, 47, 63);
  background: var(--campfire-gradient);
  color: white;
  padding: 10px 20px;
  border-radius: 10px 0 0 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 5px 5px #272f3f41;
}

.name-banner-collapse-toggle-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0 10px 0 0;
  font-size: 20px;
}

.name-banner-hidden {
  display: none;
}

.name-banner-collapsed {
  padding: 10px;
}

.name-banner-edit-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: inline;
  font-size: 1rem;
  border-bottom: 1px solid white;
  padding: 0;
  margin-left: 5px;
}

.name-banner-edit-button:hover,
.name-banner-collapse-toggle-button:hover {
  color: #cccccc;
}

/* NAME MODAL */
.name-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#name-modal-content {
  background-color: #f2f1ea;
  padding: 50px;
  width: 50%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  h1 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--campfire-dark-blue);
  }

  form h2 {
    font-size: 0.9rem;
  }

  input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    background-color: var(--campfire-red);
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--campfire-dark-red);
  }
}

.name-modal-error-message {
  color: var(--campfire-red);
}

/* 404 NOT FOUND PAGE */
.NotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--campfire-dark-blue);
  color: white;
  height: 100vh;
  font-family: Futura, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: white;
    font-size: 3.2em;
    margin: 20px;
    margin-bottom: 0px;
  }

  p {
    margin-top: 0;
  }
}

/* IFRAME */
#Preview {
  width: 100%;
  height: 100vh;
  position: fixed;
  border: none;
}

/* RECORDING INTERFACE */
#RecordingInterface {
  background-color: rgb(39, 47, 63);
  background: var(--campfire-gradient);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px 0 0 10px;

  div {
    display: flex;
    align-items: center;
  }

  button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 15px;
    padding: 0;
  }
}

/* RECORDING MODAL */

.rr-player {
  width: 100% !important;
  padding-top: 20px;
}
.rr-player__frame {
  box-sizing: border-box !important;
  width: 100% !important;
}

#RecordingModalWrapper {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#RecordingModal {
  z-index: 5;
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#send-recording {
  background-color: var(--campfire-dark-blue);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 20px;
  border-radius: 5px;
}

#send-recording:hover {
  background: var(--campfire-gradient);
  cursor: pointer;
}

/* SESSION REPLAY MODAL */
#SessionReplay {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100vw;

  #playerMain {
    margin: 30px;
  }
  a button {
    background-color: var(--campfire-dark-blue);
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 20px;
    border-radius: 5px;
  }

  a button:hover {
    background: var(--campfire-gradient);
    cursor: pointer;
  }
}
